<!DOCTYPE html>
<html ng-app="TextAnalyticsBot">
<head>
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" />

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>

    <script src="app/app.js"></script>

    <title> Text Analytics Bot </title>
    <meta charset="utf-8" />
</head>
<body>
    <div layout="column" ng-controller="AppController">
        <div style="text-align:center">
            <h1>Text Analytics Bot</h1>
        </div>

        <md-content layout="row">
            <a href='https://join.skype.com/bot/f5e155d7-0d51-41e8-b104-d96e8d341e13'>
                <img src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png'>
            </a>
            <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,bot&client_id=54637783285.54639173911&redirect_uri=https%3a%2f%2fslack.botframework.com%2fHome%2fauth&state=TextAnalyticsBot">
                <img height="25" width="100" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
            </a>
        </md-content>

        <md-content layout="column" flex class="md-padding">
            <md-input-container class="md-block">
                <label>Message Type</label>
                <md-select ng-model="message.type">
                    <md-option ng-repeat="messageTypes in messageTypes" value="{{messageTypes}}">{{messageTypes}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Input</label>
                <textarea ng-model="message.text" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="send()">Send</md-button>

            <md-input-container class="md-block">
                <label>Result</label>
                <textarea ng-model="message.result.text" rows="5" md-select-on-focus disabled></textarea>
            </md-input-container>

            <div ng-if="message.result.botPerUserInConversationData.sentimentScore>0">
                <div layout="row">
                    <div flex="20" style="text-align:center">
                        Negative
                    </div>
                    <div flex="70">
                        <md-progress-linear md-mode="determinate" value="{{message.result.botPerUserInConversationData.sentimentScore*100}}"></md-progress-linear>
                    </div>
                    <div flex="20" style="text-align:center">
                        Positive
                    </div>
                </div>
            </div>

        </md-content>
    </div>
</body>

</html>
